.footer {
  &__container {
    row-gap: 3rem;

    @media screen and (min-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    }
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--title-color);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: var(--mb-2-5);
    transition: 0.3s;

    @media screen and (min-width: 992px) {
      font-size: var(--h3-font-size);
    }

    &-icon {
      font-size: 1.15rem;
      color: var(--first-color);
    }

    &:hover {
      color: var(--first-color);
    }
  }

  &__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1-5);
  }

  &__subscribe {
    background-color: var(--first-color-lighten);
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;

    @media screen and (min-width: 576px) {
      width: 400px;
    }

    @media screen and (min-width: 767px) {
      width: initial;
    }
  }

  &__input {
    width: 70%;
    padding: 0 0.5rem;
    background: none;
    border: none;
    outline: none;
  }

  &__button {
    padding: 1rem;
  }

  &__data {
    display: grid;
    row-gap: 0.75rem;
  }

  &__information {
    font-size: var(--small-font-size);
  }

  &__social {
    display: inline-flex;
    column-gap: 0.75rem;

    &-link {
      font-size: 1rem;
      color: var(--text-color);
      transition: 0.3s;

      &:hover {
        transform: translateY(-0.25rem);
      }
    }
  }

  &__cards {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  &__card {
    width: 35px;
  }

  &__copyright {
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    margin: 5rem 0 1rem;

    @media screen and (min-width: 992px) {
      margin: 7rem 0 2rem;
    }
  }
}

.scrollup {
  position: fixed;
  background-color: var(--first-color);
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  transition: 0.4s;

  &__icon {
    font-size: 1rem;
    color: #fff;
  }

  &:hover {
    background-color: var(--first-color-alt);
    opacity: 1;
  }

  @media screen and (min-width: 1200px) {
    right: 3rem;
  }
}

.show-scroll {
  bottom: 3rem;
}

// SCROLL BAR
::-webkit-scrollbar {
  width: 0.6rem;
  background: hsl(var(--hue)), 4% 53%;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--hue), 4%, 29%);
  border-radius: 0.5rem;
}
