.goal {
  background: url('../Images/fields.jpg');
  background-size: cover;
  height: 700px;
  // padding: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: $font-nm-lg;
    margin-bottom: 0;
    margin-top: 0;
  }
  h1 {
    font-size: 6rem;
    margin-bottom: 0;
    font-weight: 400;
  }
  h3 {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0;
  }

  &__box {
    margin: 0;
    padding: 0px 6px;
    height: 120px;
    width: 300px;
    color: $orange;
    background: $transparentWhite;

    border: 0.86px solid #8080806b;
  }

  &__middle {
    height: 200px;
    width: 500px;
    border: 0.86px solid #8080806b;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: $transparentWhite;
    border: none;

    .left-goal {
      color: $white;
      background: $orange;
      padding-left: 7px;
      width: 170px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      text-align: center;
    }

    .right-goal {
      background: $deepGreen;
      // padding-top: 22px;
      padding-left: 13px;
      border-radius: 5px;
      color: $white;
      width: 200px;
      height: 160px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .box-up {
    border: none;
    margin-bottom: 0;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .box-down {
    border: none;
    margin-top: 0;
    text-align: right;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
