.hero {
  background: url('../Images/nursery.jpg');
  background-size: 350%;

  opacity: 0.9;
  height: 100vh;

  @media screen and (min-width: 768px) {
    background-size: 100%;
  }

  &__content {
    overflow: hidden;
    text-align: center;
    margin: 5rem auto auto;

    @media screen and (min-width: 768px) {
      margin-top: 4.5rem;
      text-align: left;
    }

    .heading {
      color: var(--white-color);
      font-size: var(--big-font-size);
      width: 100%;
      line-height: 1.3;

      @media screen and (min-width: 768px) {
        width: 70%;
      }

      @media screen and (max-width: 490px) {
        font-size: 3.5rem;
      }
      @media screen and (max-width: 376px) {
        font-size: 2rem;
      }
    }

    .features {
      color: var(--orange-color);
      font-size: var(--h2-font-size);
      margin-top: var(--mb-2);

      h3 {
        padding: 0;
        margin: 0;
        line-height: 1.3;
      }

      @media screen and (max-width: 376px) {
        h3 {
          font-size: 1.3rem;
        }
      }
    }

    .button-links {
      margin-top: var(--mb-3);
      display: flex;
      align-items: center;
      justify-content: space-between;
      // background-color: red;
      width: 70%;
      margin: auto;

      @media screen and (min-width: 768px) {
        width: 40%;
      }

      .get-started {
        width: 40%;
        height: 40px;

        @media screen and (min-width: 768px) {
          width: 40%;
          height: 50px;
        }

        @media screen and (max-width: 320px) {
          width: 50%;
          font-size: 0.8rem;
          h3 {
            font-weight: 400;
          }
        }
      }

      .sign-up {
        // background-color: red;
        color: var(--white-color);
        padding-bottom: 0;
        font-size: 1rem;
        border-bottom: 3px solid var(--white-color);

        &:hover {
          border-bottom: none;
          color: var(--orange-color);
        }

        @media screen and (max-width: 376px) {
          font-size: 0.9rem;
        }

        @media screen and (min-width: 768px) {
          font-size: 1.2rem;
          border-bottom: 5px solid var(--white-color);
        }
      }
    }
  }
}
