.introduction {
  padding: 3rem 0;
  display: flex;
  // background-color: red;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 4rem;
  }

  #intro-content {
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: stretch;
      align-items: center;
      text-align: right;
    }
  }
  &__content {
    text-align: center;
    row-gap: 2rem;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
      text-align: right;
    }

    img {
      border-radius: 7px;
      transform: rotate(-2deg);

      @media screen and (min-width: 768px) {
        width: 20rem;
        transform: rotate(-7deg);
      }
    }
    &__text {
      margin-top: var(--mb-3);
      // background-color: rebeccapurple;

      h2,
      h3 {
        margin: 0;
      }

      .small-header,
      .big-header {
        margin-bottom: var(--mb-1);
      }

      h3 {
        font-size: 1rem;
        color: var(--orange-color);
      }

      h2 {
        font-size: var(--h2-font-size);
        line-height: 1.2;
        color: var(--green-color);
      }

      .intro-paragraph {
        font-size: var(--small-font-size);
      }
    }
  }
}
