// Colors
$lightGreen: #20cb2691;
$transparentWhite: #ffffff91;
$orange: #e97600;
$black: #000000;
$deepGreen: #38773a;
$mildGreen: #44945e;
$white: #ffffff;

// Font Sizes
$font-med: 1.125rem; //14px
$font-sm: 0.875rem; //18px
$font-lg: 1.375rem; //22px
$font-ex-lg: 4rem;
$font-nm-lg: 3rem;
$font-nm-md: 1.3rem;
$font-md-lg: 1.5rem;
$font-sm-lg: 1.5625rem;

// Media Queries Breakpoints

$phone: 600px;
$tablet: 768px;
$laptop: 1024px;
